
/* css reset to load before page loads */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  text-align: center;
}

#webcam {
  width: 800px;
  height: 450px;
  display: block;
  margin: auto;
  border: 2px gray;
  border-radius: 25px;
}

#video_camera {
  max-width: 300px;
  /* height: 450px;
  display: block;
  margin: auto;
  outline-style: 2px double gray; */
}

#start_recording {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 10px 24px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

#start_recording:hover {
  cursor:pointer;
  background-color: #e7e7e7;
  box-shadow: gray 0 0 5px 5px;
  transition-duration: .3s;
}